 <nav>
    <ul>
      <li class="hideOnMobile"><a href="#">2025</a></li>
      <li id="loginText" class="hideOnMobile"><a id="loginA" href="/loginUser">Website by Marquette Hanson</a></li>
    </ul>

  </nav>
