<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Job Log</title>
    <link rel="stylesheet" href="../styles/file.css" />
<link rel="icon" href="../images/logo.svg" type="image/png">

  </head>
  <body>
   
<%- include('partials/nav') %>
<div id="mainBody">
    <form id="formDiv">
      <div>
        <label for="name">Status:</label>
        <select autofocus id="name" name="name">
          <option>--Please choose a job status--</option>
          <option value="Applied">Applied</option>
          <option value="Interested">Interested</option>
          <option value="Closed">Closed</option>
          <option value="Assessment">Assessment</option>
          <option value="Rejected">Rejected</option>
          <option value="Interview">Interview</option>
        </select>
      </div>
      <div>
        <label for="jobTitle">Job Title:</label>
        <input name="job" id="jobTitle" />
      </div>
      <div>
        <label for="company">Company:</label>
        <input name="company" id="company" />
      </div>

      <button id="submitForm" class="submit" type="submit">Add Job</button>
    </form>

    <div id="searchBarDiv">
      <input id="searchBar" placeholder="search" />
    </div>

    <div id="bigBox">
      <div id="navigationArea">
        <div class="column" id="stats">
          <h3>Month In Review:</h3>
          <h3></h3>

          <h4 id="firstRev">Applied:<span id="ap">0</span></h4>
          <h4 id="secRev">Interested:<span id="in">0</span></h4>
          <h4 id="thirdRev">Interview:<span id="int">0</span></h4>
          <h4 id="fourthRev">Rejected:<span id="rej">0</span></h4>

        </div>

        <div class="column" id="status">
          <h3>Filter by Status:</h3>
          <span id="statusbuttons">
            <button class="realG" value="Applied" id="Applied">Applied</button>
            <button class="realG" value="Interested" id="Interested">
              Interested</button
            ><br />
            <button class="realG" value="Closed" id="Closed">Closed</button>
            <button class="realG" value="Assessment" id="Assessment">
              Assessment</button
            ><br />
            <button class="realG" value="Rejected" id="Rejected">
              Rejected
            </button>
            <button class="realG" value="Interview" id="Interview">
              Interview
            </button>
          </span>
        </div>
      </div>

      <div id="outputCard"></div>
    </div>

    <div class="chart">
      <h3>Job Data Visualization</h3>
      <canvas id="myChart"></canvas>
      <div id="chartTypes">
        <button class="graph" value="bar">Bar</button>
        <button class="graph" value="line">Line</button>
        <button class="graph" value="circle">Circle</button>
        <button class="graph" value="polarArea">Bar</button>
        <button class="graph" value="radar">Radar</button>
      </div>
    </div>
</div>

<div id="jobModal" class='modal'>
<input type="checkbox" id="followUp" name="followUp" value="followUp">
  <label for="checkbox"> I have followed up</label><br>
  <button id="closeModal">Close</button>
</div>

   <script src="./js/axios.min.js"></script>

<script src="/js/chart.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js" integrity="sha256-nP25Pzivzy0Har7NZtMr/TODzfGWdlTrwmomYF2vQXM=" crossorigin="anonymous"></script>

    <script src="./scripts/charts.js"></script>

    <script src="./scripts/navBar.js"></script>

    <script type="module" src="./scripts/file.js"></script>
  </body>
</html>

